.form {
  background-color: white;
  width: 90%;
  margin: auto;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em; }
  .form__contenedor {
    background-color: white;
    display: flex;
    flex-direction: column; }
  .form__imput {
    background-color: white;
    border: solid 1px gray;
    border-radius: 5px;
    font-size: 1rem;
    padding: .8em 1em; }
    .form__imput--label {
      padding: 10px;
      border: none; }
  .form__btn {
    margin-top: 20px;
    background-color: cornflowerblue;
    border: solid 2px cornflowerblue;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    padding: .5em .7em; }

.gridIndex {
  display: grid;
  margin-top: 0.938rem;
  width: 99vw;
  height: 60vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; }
  .gridIndex__boton {
    width: 8.125rem;
    height: 3.125rem;
    border: 0.625rem;
    border-radius: 0.938rem;
    font-size: 1.2em;
    color: white; }

.integrantes {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-image: url("../recursos/integrantes.jpg"); }

.muestras {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-image: url("../recursos/muestras.jpg"); }

.historia {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-image: url("../recursos/historia.jpg"); }

.contactamos {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-image: url("../recursos/contactanos.jpg"); }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/* header */
/* Lista categorias */
ul {
  list-style: none; }

/* body */
body {
  background-color: aquamarine; }

a {
  text-decoration: none;
  color: white; }

img {
  padding: 10px;
  width: 100%;
  height: 100%; }
