@import "operators.scss";
// GRID FRASE
.fraceIndex{
    height: 10vh;
    padding: 35px;
    display: flex;
    &__frace {
        text-align: center;
    }

}

// GRID PAGINAS
.gridIndex{
    display: grid;
    width: auto;
    height: 85vh;
    grid-template-columns: 4fr 4fr;
    grid-template-rows: 4fr 4fr;
    
    &__boton{
        width: 8.125rem;
        height: 3.125rem;
        border: 0.625rem ;
        background-color: $color-secundario;
        border: $color-secundario  0.625rem ;
        border-radius: 0.938rem;
        font-size: 1.2em;
        color: white;
        &:hover{
            transform: scale(1.05, 1.05);
        }
    }
}
    .integrantes{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end:   2;
        display: flex;
        @include grid (cover, center, center);
        background-position: top;
        background-image: url("../recursos/integrantes.jpg");
    }
    .muestras{
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        @include grid (cover, center, center);
        background-position: center;
        background-image: url("../recursos/muestras.jpg");
    }
    .historia{
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        @include grid (cover, center, center);
        background-position: center;
        background-image: url("../recursos/historia.jpg");
    }
    .contactanos{
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        @include grid (cover, center, center);
        background-position: top;
        background-image: url("../recursos/contactanos.jpg");
    }