@import "variables.scss";
@import "operators.scss";
@import "contacto.scss";
@import "gridindex.scss";
@import "footer.scss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
/* header */
/* Lista categorias */
ul{
    list-style: none;
}
// header
header{
    background-color: $color-principal;
}
/* body */
a{
    text-decoration: none;
    color: white;
}
img{
    padding: 10px;
    width: 100%;
    height: 100%;
}
// Cartel emergente contactanos
.toastDis{
    background: linear-gradient($color-secundario, rgb(255, 44, 79) );
}